.chat{
    flex: 0.75;
    display: flex;
    flex-direction: column;
}

.chatHeader{
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.headerInfo{
    flex: 1;
    padding-left: 20px;
}

.headerInfo > h3 {
    margin-bottom: 3px;
    font-weight: 500;
}

.chatHeaderRight{
    display: flex;
    justify-content: space-between;
    min-width: 100px;
}

.chatBody{
    background-image: url(https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png);
    flex: 1;
    background-repeat: repeat;
    background-position: center;
    padding: 30px;
}

.chatMessage{
    position: relative;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    margin-bottom: 20px;
    background-color: #ffffff;
}

.chatName{
    position: absolute;
    top: -20px;

}

.timeStamp{
    margin-left: 10px;
    font-size: xx-small;
}

.chatReciver{
    margin-left: auto;
    background-color: #dcf8c6 ;

}

.chatFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top: 1px solid lightgray;
}

.chatFooter > form {
    flex: 1;
    display: flex;
}

.chatFooter > form > input {
    flex: 1;
    border-radius: 30px;
    border: none;
    padding: 10px;

}

.chatFooter > form > button{
    display: none;
}

.chatFooter > .MuiSvgIcon-root {
    padding: 10px;
    color: gray;
}